@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* cursor: default; */
}
.desktop {
  background-image: url("./img/desktop.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 35px);
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  transition: all 2s ease-in-out;
  z-index: 5;
}
.defaultIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.defaultIcon img {
  /* grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  max-height: 100%;
  padding: 20px; */
  text-align: center;
}
.defaultIcon p {
  color: white;
  filter: drop-shadow(1px 1px 1px black);
  padding-left: 5px;
  white-space: nowrap;
  cursor: default;
}
.setBlue {
  background-color: blue;
}
.focusedIcon {
  opacity: 0.7;
}
/* .defaultIcon:hover{
  cursor: pointer;
} */

.startMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(22, 62, 187, 1) 0%,
    rgba(22, 62, 187, 1) 89%,
    rgba(137, 164, 247, 1) 100%
  );
  /* position: relative; */
  display: flex;
  justify-content: space-between;
}
.startBtn {
  /* position: absolute; */
  /* left: 0;
  bottom: 0; */
  width: auto;
  height: 100%;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    0deg,
    rgba(108, 171, 41, 1) 0%,
    rgba(108, 171, 41, 1) 90%,
    rgba(158, 245, 160, 1) 99%
  );
  padding: 5px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  /* cursor: pointer; */
}
.flagStart {
  background-size: cover;
  height: 100%;
  filter: drop-shadow(2px 2px 4px #000000);
}
.flagText {
  padding: auto;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  filter: drop-shadow(2px 2px 4px #000000);
  font-size: 1.1rem;
  padding-left: 2px;
}

.menuClock {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  color: black;
  height: 100%;
  width: auto;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(113, 193, 215, 1) 0%,
    rgba(113, 193, 215, 1) 94%,
    rgba(255, 255, 255, 1) 100%
  );
  /* width: 6%; */
  border-left: 1px solid rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px;
  cursor: default;
}
.menuClock p {
  padding-right: 10px;
  font-family: sans-serif;
  font-weight: bold;
  filter: drop-shadow(1px 1px 1px #000000);
  font-size: 0.9rem;
}
.menuClockImg {
  /* width: 18px; */
  width: auto;
  height: 18px;
  margin-right: 5px;
}

/* LOADER */
.window {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
  font-family: "Roboto", sans-serif;
  color: #fff;
  height: 100vh;
  width: 100vw;
}
.container {
  width: 150px;
  height: 20px;
  border: 2px solid #b2b2b2;
  border-radius: 7px;
  /* margin: 0 auto; */
  padding: 2px 1px;
  overflow: hidden;
  font-size: 0;
}
.box {
  width: 9px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #2838c7 0%,
    #5979ef 17%,
    #869ef3 32%,
    #869ef3 45%,
    #5979ef 59%,
    #2838c7 100%
  );
  display: inline-block;
  margin-right: 2px;
  animation: loader 2s infinite;
  animation-timing-function: linear;
}
.logo {
  max-width: 300px;
  margin: 50px auto;
}
.logo p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  margin: 1.5rem 0;
}
.top {
  font-size: 32px;
  font-weight: 300;
  line-height: 16px;
}
.top:after {
  content: "\00a9";
  font-size: 20px;
  position: relative;
  top: -5px;
  margin-left: 2px;
}
.mid {
  font-size: 92px;
  font-weight: 700;
  line-height: 36px;
}
.mid span {
  font-size: 44px;
  display: inline-block;
  vertical-align: top;
  color: #ff6821;
  margin-top: -8px;
}
.logo .bottom {
  font-size: 60px;
  font-weight: 300;
  line-height: 30px;
  margin-left: 5px;
}
@keyframes loader {
  0% {
    transform: translate(-30px);
  }
  100% {
    transform: translate(150px);
  }
}

/* Start Menu */
.openedStartMenu {
  position: absolute;
  bottom: 5vh;
  width: 400px;
  height: 530px;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 3px 2px 5px black;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.headerStart {
  background: linear-gradient(
    0deg,
    rgba(52, 119, 200, 1) 0%,
    rgba(30, 93, 205, 1) 39%,
    rgba(30, 93, 205, 1) 97%,
    rgba(244, 245, 255, 1) 100%
  );
  height: 12vh;
}
.userIcon {
  text-align: left;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 2px 2px 5px rgb(63, 61, 61);
}
.userIcon img {
  height: 100%;
  border-radius: 5px;
  border: 2px solid white;
}
.userIcon p {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  filter: drop-shadow(1px 1px 1px black);
  padding-left: 0.7rem;
  cursor: default;
}
.iconsStart {
  /* display: none; */
  display: flex;
  flex-direction: row;
  background-color: white;
}
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
}
.firstOnSide {
  height: 20%;
}
.secondOnSide {
  height: 50%;
}
.thirdOnLine {
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.smallIcon {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  cursor: default;
  white-space: nowrap;
  font-size: 0.8rem;
  padding: 1px 5px;
  white-space: break-spaces;
}
.smallIcon img {
  width: 30px;
  height: 30px;
}
.smallIcon:hover {
  background-color: rgba(52, 119, 200, 1);
  color: white;
  border-radius: 3px;
}
.rightSide {
  height: 100%;
  width: 50%;
  background-color: #b9d9eb;
}
.bottomLine {
  height: 1px;
  width: 90%;
  background-color: grey;
  opacity: 0.5;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.allPrograms {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: default;
  padding: 0 10px;
}
.allPrograms b {
  color: rgb(24, 166, 24);
  font-size: 1.5rem;
  filter: drop-shadow(2px 2px 2px green);
  padding: 3px;
}
.allPrograms:hover {
  background-color: rgba(52, 119, 200, 1);
  color: white;
  border-radius: 3px;
}
.footerStart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 8vh;
  width: 100%;
  background: linear-gradient(
    10deg,
    rgba(30, 93, 205, 1) 0%,
    rgba(30, 93, 205, 1) 43%,
    rgba(52, 119, 200, 1) 70%
  );
  font-size: 0.8rem;
}
.bottomStartBtn {
  display: flex;
  align-items: center;
  margin: 5px;
  cursor: default;
  color: white;
}
.bottomStartBtn img {
  height: 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.bottomStartBtn:hover {
  opacity: 0.8;
}
.emptyWindow {
  background: white;
  padding: 8px 16px;
  border: 1px solid rgba(30, 93, 205, 1);
  position: absolute;
  left: 100%;
  top: 21.5%;
  font-size: 0.8rem;
  border-left: 5px solid rgba(30, 93, 205, 1);
  box-shadow: 2px 2px 2px black;
  cursor: default;
}
.emptyWindow:hover {
  background-color: rgba(30, 93, 205, 1);
  color: white;
}
.allProgramsOpened {
  position: absolute;
  left: 40%;
  bottom: 10%;
  background-color: white;
  border-left: 4px solid rgba(30, 93, 205, 1);
  padding: 5px;
}
.littleIconApp {
  display: flex;
  align-items: center;
  margin: 5px 3px;
  white-space: nowrap;
  cursor: default;
  padding: 3px 5px;
}
.nameIconAll {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.littleIconApp img {
  height: 18px;
  margin-right: 5px;
}
.littleIconApp p {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.7rem;
}
.littleIconApp:hover {
  background-color: rgba(30, 93, 205, 1);
}
.accesPrograms {
  position: absolute;
  left: 90%;
  bottom: 54%;
  height: auto;
  background-color: white;
  border-left: 4px solid rgba(30, 93, 205, 1);
  margin: 5px 3px;
  padding: 3px 5px;
}
.gamesPrograms{
  position: absolute;
  left: 90%;
  bottom: 49%;
  height: auto;
  background-color: white;
  border-left: 4px solid rgba(30, 93, 205, 1);
  margin: 5px 3px;
  padding: 3px 5px;
}
.setupEmpty{
  background: white;
  padding: 4px 8px;
  border: 1px solid rgba(30, 93, 205, 1);
  position: absolute;
  left: 93%;
  top: 50.5%;
  font-size: 0.8rem;
  border-left: 5px solid rgba(30, 93, 205, 1);
  box-shadow: 2px 2px 2px black;
  cursor: default;
}
.setupEmpty:hover{
  background-color: rgba(30, 93, 205, 1);
  color: white;
}
.turnOffWindow{
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  flex-direction: column;
  width: 400px;
  height: 250px;
  background: rgb(5, 5, 121);
  transform: translateX(-50%);
  border: 2px solid black;
}
.turnOffHeader{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 25%;
}
.turnOffHeader p{
  white-space: nowrap;
  color: white;
  font-size: 24px;
  font-weight: 100;
}
.turnOffHeader img{
  width: 40px;
  height: auto;
}
.turnOffBtn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, rgba(30,93,205,1) 0%, rgba(70,136,255,1) 50%, rgba(30,93,205,1) 100%);
  height: 50%;
  cursor: default;
  color: white;
  font-weight: bold;
}
.turnOffBtn div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.turnOffBtn div img{
  width: 40px;
  opacity: 0.7;
}
.turnOffBtn div img:hover{
  opacity: 1;
}
.turnOffBorder{
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, rgba(30,93,205,1) 0%, rgba(255,255,255,1) 50%, rgba(30,93,205,1) 100%);
}
.turnOffFooter{
  height: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
}
.turnOffFooter button{
  padding: 3px;
  border: 2px solid #5979ef;
  box-shadow: 2px 1px 1px grey;
}
.turnOffFooter button:hover{
  border: 2px solid rgb(170, 170, 8);
}
.openedWindow{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 500px;
  border-radius: 10px 10px 2px 2px;
  background-color: white;
  overflow: hidden;
  border-bottom: 2px solid rgb(0, 82, 214);
  border-right: 2px solid rgb(0, 82, 214);
  border-left: 2px solid rgb(0, 82, 214);
}
.windowHeader{
  display: flex;
  justify-content: space-between;
  background:linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
}
.leftSideOpen{
  display: flex;
  align-items: center;
  padding: 10px;
}
.rightSideOpen{
  padding: 8px;
}
.leftSideOpen img{
  width: 20px;
}
.leftSideOpen p{
  color: white;
  padding-left: 6px;
  font-weight: 200;
}
.functionBtn{
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid white;
  background: #5979ef;
  color: white;
  margin: 1px;
  background-image: radial-gradient(circle at 90% 90%, rgb(0, 84, 233) 0%, rgb(34, 99, 213) 55%, rgb(68, 121, 228) 70%, rgb(163, 187, 236) 90%, white 100%);;
  opacity: 0.8;
  font-size: 18px;
}
.functionBtn:hover{
  opacity: 1;
}
.navBarMain{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navBarMain div{
  display: flex;
  font-weight: 300;
  font-size: 0.9rem;
  
}
.navBarMain p{
  margin: 1px 5px;
  padding: 2px 4px;
  
}
.navBarMain div p:hover{
  background-color: rgb(0, 88, 238);
  cursor: default;
  color: white;
}
.navBarFlag{
  height: 24px;
  padding: 2px 10px;
  background-color: white;
}
.navBarIcon{
  background: linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 5px;
}
.navBarIcon img{
  height: 30px;
}
.arrowNav{
  display: flex;
  /* align-items: center; */
  border-right: 1px solid rgba(159, 158, 158, 5);
  /* padding-right: 5px; */
  font-size: 0.7rem;
  padding-right: 8px;
  padding-left: 4px;
}
.arrowNavEnd{
  display: flex;
  align-items: center;
  /* padding-right: 5px; */
  font-size: 0.8rem;
  padding-left: 4px;
}
.arrowNav div,
.arrowNavEnd div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  outline: 1px solid transparent; 
  cursor: default;
}
.activeIcon:hover{
  outline-color: rgba(159, 158, 158, 0.3);
  border-radius: 3px;
}
.grayScale{
  filter: grayscale(1);
}
.footerNavBar{
  background: linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%);
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}
.footerNavBar div{
  display: flex;
  align-items: center;
}
.footerNavBar div img{
  height: 18px;
}
.greyFont{
  color: grey;
  padding-left: 5px;
}
.runBtn{
  /* text-align: right; */
  padding-right: 5px;
}
.runBtn img{
  padding: 0 2px;
}
.leftMainContent{
  background: linear-gradient(rgb(116, 138, 255) 0%, rgb(64, 87, 211) 100%);
  min-height: 100%;
  width: 25%;
}
.currentFolder{
  display: flex;
  justify-content: space-between;
  background: white;
  width: 80%;
  border: 1px solid rgba(159, 158, 158, 0.3);
}
.currentFolder span{
  display: flex;
  align-items: center;
}
.currentFolder > span > p{
  font-size: 0.8rem;
  padding: 0 5px;
}
.windowContent{
 
}
.windowMainContent{
  display: flex;
  height: 100%;
}
.systemTask{
  padding: 10px;
}
.systemTask .taskWindow{
  display: flex;
  justify-content: space-between;
  color: rgb(12, 50, 125);
  font-weight: 700;
  background: linear-gradient(to right, rgb(240, 240, 255) 0px, rgb(240, 240, 255) 30%, rgb(168, 188, 255) 100%);

}
.systemTask .taskWindow img{
  filter: drop-shadow(1px 1px 1px black);
}
.taskWindow{
  padding: 5px;
  border-radius: 5px 5px 0 0;
  cursor: default;
}
.iconTask{
  display: flex;
  color: rgb(12, 50, 125);
  font-size: 0.7rem;
  background: linear-gradient(to right, rgb(180, 200, 251) 0%, rgb(164, 185, 251) 50%, rgb(180, 200, 251) 100%) rgba(198, 211, 255, 0.87);
  padding: 2px;
}
.iconTask:hover{
  text-decoration: underline;
  color: rgb(50, 111, 233);
}
.nameIconTask{
  cursor: pointer;
}
.rightMainContent{
  width: 75%;
}
.titleOfGroup{
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px 0 0 10px;
}
.filesOfGroup{
  display: flex;
}
.filesIcon{
  display: flex;
  align-items: center;
  margin: 20px 25px;
}
.filesIcon>div>p{
  font-weight: 300;
  font-size: 0.8rem;
  padding-left: 10px;
}
.filesIcon > img{
  height: 45px;
}
.borderBotOfGroup{
  height: 2px;
  background: linear-gradient(90deg, rgba(41,107,224,1) 0%, rgba(255,255,255,1) 50%);
  margin-top: 4px;
}
.startMenuChild{
  display: flex;
  align-items: center;
}
.navbarCard{
  margin-left: 5px;
  color: white;
  font-size: 0.9rem;
  font-weight: 200;
  background-color: rgb(30, 82, 183);
  box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
  padding: 2px 50px 2px 5px;
  cursor: default;
  border-radius: 3px;
}
.navbarCard div{
  display: flex;
  align-items: center;
}
.navbarCard img{
  height: 24px;
}
.navbarCard:hover{
  background-color: rgb(60, 129, 243);
}
.explorerLink{
  white-space: nowrap;
  color: gray;
  border-left: 1px solid rgba(159, 158, 158, 5);
  font-size: 0.8rem;
}
.googleContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.googleContent .googleTitle{
  height: 80px;
  width: 250px;
  margin-top: 50px;
}
.googleSearch{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  /* flex-direction: row; */
  border: 1px solid rgba(159, 158, 158, 5);
  margin-top: 30px;
  border-radius: 2px;
  box-shadow: 0px 2px 1px rgba(159, 158, 158, 0.5);
}
.googleSearch input{
  height: 100%;
  width: 100%;
  border: none;
  cursor: default;
}
.googleSearch input:focus{
  outline: none;
  font-size: 1.5rem;
  padding: 2px;
}
.googleSearch img{
  height: 100%;
  padding: 4px;
}
.googleSearch:hover{
  box-shadow: 2px 2px 12px rgba(159, 158, 158, 0.5);
}
.googleBtns{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding-top: 50px;
}
.googleBtns p{
  cursor: default;
  color: rgb(120, 120, 120);
  background: rgb(242, 242, 242);
  padding: 8px;
  font-weight: bold;
  border: 1px solid transparent;
}
.googleBtns p:hover{
  border: 1px solid rgba(159, 158, 158, 5);
  color: black;
  box-shadow: 0 1px 1px rgba(159, 158, 158, 5);
}
.openedExplorer{
  position: absolute;
  top: 10%;
  left: 55%;
  transform: translateX(-50%);
  width: 800px;
  height: 500px;
  border-radius: 10px 10px 2px 2px;
  background-color: white;
  overflow: hidden;
  border-bottom: 2px solid rgb(0, 82, 214);
  border-right: 2px solid rgb(0, 82, 214);
  border-left: 2px solid rgb(0, 82, 214);
}